@import '../../styles/variables.scss';

.element__setup {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 10px;
  padding: 10px 0px 10px 20px;
  gap: 20px;
  transition: all;

  &__title {
    font-size: 13px;
    font-weight: 500;
    color: $darkText;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;

    &__extra {
      background: $lightGreen;
      // padding: 10px 0px;
      transition: 0.3s ease all;

      &:hover {
        background: $lightGreen;
        padding: 10px;
        transition: 0.3s ease all;
      }
    }
  }
}
