@import './../../styles/variables.scss';

.header {
  background: $light;
  width: 100%;
  height: $headerHeight;
  padding: 20px 16px;
  transition: 0.3s ease all;
  display: flex;
  justify-content: space-between;

  @media (min-width: 920px) {
    &__mobile {
      display: none;
    }
  }

  @media (max-width: 920px) {
    & {
      display: none;
    }
  }

  &__img__container {
    width: 20%;
  }

  &__content {
    width: 80%;
  }

  &__logo {
    width: 170px;
    height: 35px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  &__changeorg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    gap: 10px;
    background: $bg;
    border-radius: $borderRadius;
    &__homeicon {
      width: 24px;
      height: 24px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      padding: 6px;
      &__title1 {
        font-size: 12px;
        color: #2d416f;
      }
      &__title2 {
        font-size: 13px;
        color: #2d416f;
        font-weight: bold;
      }
      &__arrowdown {
        width: 8px;
        height: 8px;
      }
    }
  }
  &__searchbar {
    display: flex;

    &__input {
      padding: 6px 10px;
      border: 1px solid gray;
      border-radius: $borderRadius;
      &::placeholder {
        font-size: 11px;
      }

      @media (max-width: 400px) {
        width: 190px;
      }
    }
    &__iconholder {
      display: flex;
      justify-content: center;
      margin-left: -3px;
      align-items: center;
      width: 40px;
      background: #4baa79;
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
  }
  &__notpayroll__holder {
    display: flex;
    gap: 20px;
  }
  &__payroll {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    &__pic {
      width: 40px;
      height: 40px;
    }
    &_info {
      display: flex;
      flex-direction: column;
      &__name {
        font-size: 12px;
        font-weight: bold;
        color: $darkText;
      }
      &__position {
        font-size: 13px;
        color: $lightText;
      }
    }
  }
}

@media (max-width: 920px) {
  .header__mobile {
    background: $light;
    width: 100%;
    height: $headerHeight;
    padding: 20px 16px;
    transition: 0.3s ease all;
    display: flex;
    justify-content: space-between;
    &__notpayroll__holder {
      display: flex;
    }

    &__logo {
      width: 120px;
      height: 30px;
    }
    &__showmenu {
      display: block;
    }
    &__hidemenu {
      display: none;
    }
    &__menu {
      font-size: 20px;
      color: $dark;
    }
  }
  .header__mobile__content {
    background: lightgrey;
    position: absolute;
    top: 90px;
    left: 0;
    transition: 0.3s ease all;
    padding: 20px;
    & .header__changeorg {
      display: flex;
      width: 300px;
    }
    & .header__searchbar {
      display: flex;
      margin-top: 40px;
    }
    & .header__searchbar__iconholder {
      display: flex;
      justify-content: center;
      margin-left: -3px;
      align-items: center;
      width: 40px;
      background: green;
    }
    &__notpayroll__holder {
      display: flex;
      margin-top: 30px;
    }
  }
}
