@import '../../styles/variables.scss';

.deletemodal {
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    &__imgicon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      margin: auto;
    }

    &__successmsg {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      color: #57678C;
      font-weight: 500;
      margin-top: 13px;
      text-align: center;
    }
    &__successmsg2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 9px;
      color: #57678C;
      font-weight: 500;
      text-align: center;
      margin-top: 5px;
    }

    &__btnholder {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      width: 100%;

      &__btn1 {
        border: 1px solid #57678C;
        background: transparent;
        padding: 10px;
        border-radius: $borderRadius;
        font-size: 10px;
        color: #C8C8C8;
        width: 32%;
      }
     
      &__btn2 {
        border: none;
        background: #E05453;
        padding: 10px;
        border-radius: $borderRadius;
        font-size: 10px;
        color: $light;
        width: 62%;
      }
    }
  }
}
