@import '../../styles/variables.scss';

.successmodal {
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    flex-direction: column;

    &__imgicon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin: auto;
    }

    &__successmsg {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      color: $successTxt;
      font-weight: 500;
      margin-top: 13px;
      text-align: center;
      padding: 10px 25px;
    }

    &__btnholder {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      width: 100%;

      &__btn {
        border: none;
        background: $green;
        padding: 10px;
        border-radius: $borderRadius;
        font-size: 10px;
        color: $light;
        width: 100%;
      }
    }
  }
}
